body {

    font-family: Arial, sans-serif;
}

.sidenav {
    height: 100vh;
    overflow: hidden;
<<<<<<< HEAD
    width: 225px;
=======
    width: 250px;
>>>>>>> 145365576bb88050561c7ed14ad2574d84df58c3
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #ffffff;
    padding-top: 20px;
    border: #c5c5c5 solid;
    box-sizing: border-box;
}

.aside-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-side {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.content-side img {
    width: 24px !important;
    height: auto !important;

}

.bouton-side {
    margin: 1em;
    text-decoration: none;
<<<<<<< HEAD
    font-size: 15.5px !important;
=======
    font-size: 16px !important;
>>>>>>> 145365576bb88050561c7ed14ad2574d84df58c3
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #00244d;
    padding: 0.5em;
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
<<<<<<< HEAD
    margin-left: 0.5em;
}

/*
.bouton-side.active,
a.bouton-side:hover {
    background-color: rgba(128, 128, 128, 0.3);
    width: 90%;
}
*/


#Deconecter {
    margin-top: auto;
    text-decoration: none;
    color: #00244d;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

#USPN {

    left: -2em;
}
#one {
    margin-left: 250px;
    transition: margin-left 0.3s ease; 
}

.sidenav {
    transition: width 0.3s;
}

.sidenav.collapsed {
    width: 60px;
}
.sidenav.collapsed .aside-ul  {
   margin-top: 10em;
}

.sidenav.collapsed .bouton-side:hover, 
.sidenav.collapsed .bouton-side.active {
    background-color: transparent; 
    width: 100%; 
}


.sidenav.collapsed .content-side span,
.sidenav.collapsed #USPN {
    display: none;
   
}

.sidenav.collapsed .bouton-side {
    justify-content: center;
    padding: 0.5em 0;
}

.sidenav.collapsed #Deconecter i {
    margin-left: -1.4em;
}

.sidenav.collapsed #Deconecter::after,
.sidenav.collapsed #Deconecter span {
    display: none;
}


.toggle-sidenav {
    position: absolute;
    top: 40px;
    right: -20px;
    background: #C5C5C5;
    border: 1px solid #7a7272;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


.sidenav .aside-ul li {
    position: relative;
    overflow: hidden;
}

.sidenav .aside-ul li:hover {
    background-color: rgba(128, 128, 128, 0.2);
    transition: background-color 0.3s ease;
}


.sidenav .aside-ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    color: #00244d;
    transition: none; 
}


.sidenav .aside-ul li:hover a {
    color: #00244d; 
}body {
    font-family: Arial, sans-serif;
}

.sidenav {
    height: 100vh;
    overflow: hidden;
    width: 225px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #ffffff;
    padding-top: 20px;
    border: #c5c5c5 solid;
    box-sizing: border-box;
}

.aside-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-side {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.content-side img {
    width: 24px !important;
    height: auto !important;

}

.bouton-side {
    margin: 1em;
    text-decoration: none;
    font-size: 15.5px !important;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #00244d;
    padding: 0.5em;
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 0.5em;
=======
>>>>>>> 145365576bb88050561c7ed14ad2574d84df58c3
}

/*
.bouton-side.active,
a.bouton-side:hover {
    background-color: rgba(128, 128, 128, 0.3);
    width: 90%;
}
*/


#Deconecter {
    margin-top: auto;
    text-decoration: none;
    color: #00244d;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

#USPN {

    left: -2em;
}
#one {
    margin-left: 250px;
    transition: margin-left 0.3s ease; 
}

.sidenav {
    transition: width 0.3s;
}

.sidenav.collapsed {
    width: 60px;
}
.sidenav.collapsed .aside-ul  {
   margin-top: 10em;
}

.sidenav.collapsed .bouton-side:hover, 
.sidenav.collapsed .bouton-side.active {
    background-color: transparent; 
    width: 100%; 
}


.sidenav.collapsed .content-side span,
.sidenav.collapsed #USPN {
    display: none;
   
}

.sidenav.collapsed .bouton-side {
    justify-content: center;
    padding: 0.5em 0;
}

.sidenav.collapsed #Deconecter i {
    margin-left: -1.4em;
}

.sidenav.collapsed #Deconecter::after,
.sidenav.collapsed #Deconecter span {
    display: none;
}


.toggle-sidenav {
    position: absolute;
    top: 40px;
    right: -20px;
    background: #C5C5C5;
    border: 1px solid #7a7272;
    border-radius: 50%;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}


.sidenav .aside-ul li {
    position: relative;
    overflow: hidden;
}

.sidenav .aside-ul li:hover {
    background-color: rgba(128, 128, 128, 0.2);
    transition: background-color 0.3s ease;
}


.sidenav .aside-ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    color: #00244d;
    transition: none; 
}


.sidenav .aside-ul li:hover a {
    color: #00244d; 
}