.contacter {
    background-color: #0BAFE7;
    color: #fff;
    font-size: 17px;
    margin-left: 1.2em;
    width: 10em;
    height: 2em;
    border-radius: 10px;
    border-style: none;
    margin-top: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.contacter:hover {
    background-color: #043c4e;
    transform: scale(1.05);
}

.nom{
    font-size: 26px;
    left: 1em;
    position: relative;
    color:#000000;
    margin-bottom: 2px;
}

.classe{
    font-size: 16px;
    font-weight: bold;
    left: 1.6em;
    position: relative;
    color:#000000;
    margin: 0px;
}

.groupe{
    font-size: 16px;
    font-weight: bold;
    left: 1.6em;
    position: relative;
    color:#000000;
    margin-top: 0px;
}

.hidden{
    font-size: 16px;
    font-weight: bold;
    left: 1.6em;
    position: relative;
    color:transparent;
    margin-top: 0px;
}
.container {
    display: flex;
    width: 100%;
}
.date-limite{
    font-size:15px; 
    color:gray ; 
    position: relative ; 
    left:2em; 
    top:-1em;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25em;
    height: 8.2em;
    border-radius: 10px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-right: 20px;
    overflow: hidden; /* Empêche le débordement du contenu */
}
