.body {
    background-color: #EEEEEE;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#one {
    flex: 1;
    padding: 4em 2em 2em 1em;
    box-sizing: border-box;
    color: #00244d;
    font-size: 23px;
    margin-left: 250px;
}

.card {
    width: 20em;
    height: 13em;
}

.depot-nom{
    font-size: 28px;
}
.etat{
    font-size: 20px;
    color: black;
    left: 1em;
    position: relative;
    top: -1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

.validation{
    font-size: 20px;
    color: black;
    left: 1em;
    position: relative;
    top: -1em;
}
.contacter{
    background-color: #00244d;
}
.joindre{
    left: 4em;
}