header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.icons {
    width: 10px;
}

.arrow{
    width: 10px;
}

div.bell{
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 225px);
} 
.nav_notif{
    display: flex;
    justify-content: right;
    z-index: 1;
    flex-basis: 0;
    
}
nav.haut {
    background-color: #003366;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

ul.navbar {
    list-style-type: none;
    display: flex;
    justify-content: left;
    color: white;
}
.haut_de_page {
    position: relative;
    height: 100vh;
    width: 100%;
}
#english {
    display: none;
}

.fa-bell {
    width: 20px;
    height: 22px;
}