.notification {
    background-color: rgb(255, 255, 255);
    color: #00244d;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    margin-top: 55px;
    animation: fade-in 2s;
    opacity: 0;
    pointer-events: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}


.panel {
    display: none !important;
}

.panel[style*="display: block"] {
    display: flex !important;
}

.panel {
    position: fixed;
    top: 2em;
    right: 3em;
    width: 12em;
    height: 14em;
    ;
    background-color: #ffffff;
    border-left: 1px solid #c5c5c5;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    /* Ombre pour créer un effet de profondeur */
    padding: 0.4em;
    /* Espacement interne */
    overflow-y: auto;
    /* Permet de défiler si nécessaire */
    z-index: 1000;
    /* Assure qu'il reste au-dessus des autres éléments */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* Espacement entre les notifications */
    border-radius: 20px;
}

#notif_title {
    color: black;
    font-size: 22px;
    position: relative;
    padding-left: 0.7em;
    border: 2px #c5c5c5;
    border-style: none none solid;
}

.notifs {
    display: inline-grid;
    gap: 0.5em;
}

.notif {
    background-color: #EEEEEE;
    /* width: 5em; */
    height: 3em;
    border: 2px gray solid;
    border-style: solid none solid none;
}

.titre_n {
    font-size: 15px;
    text-align: center;
    color: black;
}

.infor {
    font-size: 13px;
    text-align: center;
    color: grey;
    position: relative;
    top: -0.4em;
}

.date_recu {
    font-size: 9px;
    color: black;
    text-align: right;
    left: -1em;
    position: relative;
    top: -0.5em;
}