body{
    background-color: rgb(194, 201, 207);
}

#body-tdb {
    position: absolute;
    top: 40px;
    left: 250px;
    width: 100%;
}

#body-tdb header{
    height: 30px;
    background-color: white;
    border-bottom: #C5C5C5 solid 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#body-tdb img{
    width: 30px;
    margin-right: 10px;   
    display: flex;
}

#article-tdb{
    margin-left: 20px;
}

#titre-formation{
    font-size: 40px;
    color: #1F3269;
    margin-bottom: 10px;
    user-select: none;
}

.bloc-formation{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25em;
    height: 8.2em;
    border-radius: 10px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-right: 20px;
    overflow: hidden;
    color: #fff;
    font-size: 17px;
    margin-left: 1.2em;
    border-style: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.bloc-formation a{
    text-decoration: none;
    
}

.bloc-formation:hover{
    background-color: #043c4e;
    transform: scale(1.05);
}

.bloc-formation a:visited{
    color: black;
}


.bloc-formation p {
    font-size: 16px;
    font-weight: bold;
    left: 1.6em;
    position: relative;
    color:#000000;
    margin: 0px;
}

.bloc-formation #titre-but{
    font-weight: bold;
    font-size: 26px;
    left: 1em;
    position: relative;
    color:#000000;
    margin-top: 20px;
}


#calendrier{
    display: none;
    position: fixed;
    top: 100px;
    width: 350px;
    height: 350px;
    background-color: white;
    justify-items: center;
    border-radius: 5px;
    border: black solid 1px;
}
#mois {
    display: flex;
    justify-content: center;
}
#mois span:hover{
    background-color: #afafaf;
    cursor: pointer;
    border-radius: 2px;
}
#nom-de-mois {
    padding: 0 100% ;
    font-size: 18px;
}


#calendrier th, #calendrier td {
    text-align: center; 
    vertical-align: middle; 
    padding: 10px 5px; 
    width: 35px; 
    height: 35px; 
    box-sizing: border-box; 
}

#calendrier th{
    user-select: none;
    padding: 30px 5px; 
}


#date-calendrier td:hover {
    background-color: #1923b1; 
    cursor: pointer; 
    border-radius: 50%;
    width: 5px;
}

.notification:hover{
    cursor:pointer;
}

#ongletNotif{
    border: grey solid 1px;
    box-shadow: 1px 0px 7px black;
}