.clickable-card {
    text-align: center;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.clickable-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.clickable-card .nom {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.clickable-card .details {
    font-size: 16px;
    color: #666;
}
