
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../IMG/BU-PARIS13.jpg") no-repeat center center;
    background-size: cover; 
    background-color: #f5f5f5; 
    opacity: 0.7;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.logo img {
    width: 200px;
    height: auto;
}




.title-container {
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.title {
    background-color: white;
    padding: 50px 10px;
    border-radius: 32px;
    width: 350px;
    height: 500px;
    text-align: center;
    box-shadow: 0px 1px 1px 1px rgb(247, 247, 247);
    box-sizing: border-box;
    position: absolute;
    right: 10%;
    bottom: 20%;
}

.title h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin: 0;
    color: gray;
}

.form-container {
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: auto;
}

.champ-input {
    height: 130px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
}

.champ-input label {
    display: block; 
    font-size: 14px;
    color: #333;
    margin-bottom: 100px;
    margin-top: -15px;
    position: absolute;
    left: 38px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 30px;
    display: flex; 
    align-items: center;
}

.input-wrapper .input-icon {
    width: 18px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
}

input[type="text"],
input[type="password"] {
    flex-grow: 1;
    border: none;
    border-bottom: 1.9px solid #003366;
    background: none;
    font-size: 16px;
    padding: 1px ;
    box-sizing: border-box;
    
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-bottom: 2px solid #00244d;
}

.mdp_oublie {
    font-size: 14px;
    color: #003366;
    text-decoration: none;
    display: block;
    margin: 10px 30px;
    position: absolute;
    left: 8px;
    bottom: 196px;
}

.mdp_oublie:hover {
    text-decoration: underline;
}

.but_login {
    background-color: #003366;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 70%;
    height: 50px;
    box-sizing: border-box;
    position: absolute;
    bottom: 90px;
    left: 52px;
}

.but_login:hover {
    background-color: #00244d;
}

#english {
    display: none;
}

  
  .main {
    margin-left: 200px;
  }

body{
    background-color: #EEEEEE;
}

#Dashboard{
height: 20px;
}
#Folder{
height: 25px;
}
#pr{
height: 25px;

}

#one {
    flex: 1;
    padding: 4em 2em 2em 1em;
    box-sizing: border-box;
    color: #00244d;
    font-size: 23px;
    margin-left: 250px;
  }
  .body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}
.card{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 17em;
    height: 6em;
    border-radius: 10px;
    margin-top: 1em;
    display: inline-flex;
    margin-right: 20px;
}
.info{
    font-size: 18px;
    color: #000000;
    margin: 0.4em;
    left: 1em;
    top: -0.8em;
    position: relative;
}

.left{
    display: flex;
    flex: 7;
}
.right{
    display: flex;
    flex: 3;
    
}
#titre{
    position: relative;
    top: -1em;
}
#ouvrir{
    background-color: #00244d;
    color: #fff;
    top: -1em;
    border-style: none;
    position: relative;
    font-size: 17px;
    left: 12em;
    width: 10em;
    height: 2em;
    border-radius: 10px;
}

.left-tableau{
    display: flex;
    flex: 9;
    gap: 1px;
}
.right-tableau{
    display: flex;
    flex: 1;
}
.tache{
    background-color: #030a64;
    color: #fff;
    top: 1em;
    border-style: none;
    position: relative;
    font-size: 19px;
    left: 1em;
    width: 13em;
    height: 2em;
    border-radius: 10px;
}
.taches{
    height: 21em;
    width: 13em;
    margin-right: -15px !important;
    top: 10em;
    position: relative;
}
